{% extends "::base.html.twig" %}

{% block title %}MetinetAppBundle:Fact:home{% endblock %}

{% block body %}
<h1>All of Facts</h1>


    {% for fact in facts %}

        {% include 'MetinetAppBundle:Fact/partials:fact_template.html.twig' %}

    {% endfor %}

{% endblock %}
