{% extends "::base.html.twig" %}

{% block title %}MetinetAppBundle:Fact:home{% endblock %}

{% block body %}
<h1>Random Fact</h1>

{% include 'MetinetAppBundle:Fact/partials:fact_template.html.twig' %}

{% endblock %}
